/*This container includes table and cavas*/
.center-container {
    width: 608px;
    margin: 0 auto;
    margin-top: 50px;
}

table {
    border-collapse: collapse;      /*Shows 1 border*/
    border-style: hidden;
}

td {
    cursor: pointer;
    border: 4px solid rgba(216, 36, 252, 0.342);
    padding: 0px;       /*removes default padding*/
    width: 200px;
    height: 200px;
}

canvas {
    position: absolute; /*sets position of canvas to top left corner*/
    z-index: 10;        /*brings our canvas farthest forward*/
    pointer-events: none;
}

h1 {
    text-align: center;
}